In [1]:
name = 'mike'
print(name)

mike

In [2]:
name = input('enter your name: ')
print('welcome', name)

enter your name: xyz
welcome xyz

In [3]:
a = True
b = 'True'

In [4]:
print(type(a))
print(type(b))

<class 'bool'>
<class 'str'>

#### Typecasting

In [5]:
var = 2
type(var)

int

In [8]:
var1 = float(var)
type(var1)

float

In [11]:
var = 2.9
var_int = int(var)
print(var_int)

2

In [29]:
int(var)

2

In [13]:
var = 2
new_var = str(var)

In [14]:
new_var

'2'

In [15]:
type(new_var)

str

In [16]:
int("2")

2

In [21]:
# Convert a float value inside a string variable to Integer

int("2.2")

ValueError: invalid literal for int() with base 10: '2.2'

In [19]:
int(float("2.5"))

2

In [37]:
string_var = "2.5"
int(string_var)

ValueError: invalid literal for int() with base 10: '2.5'

In [40]:
string_var = "2.5"
int_var = int(string_var)
print(int_var)

ValueError: invalid literal for int() with base 10: '2.5'

In [41]:
string_var = "2.5"
float_var = float(string_var)
int_var = int(float_var)
print(int_var)

2

In [43]:
string_var = "3.1" 
int_var = int(float(string_var))
print(int_var)

3

In [22]:
float("2.2")

2.2

In [23]:
str(1)

'1'

In [ ]:
# string to int for float number

In [24]:
string_var='ABCDEFGH'

In [26]:
string_var = 'HELLO'

In [31]:
string_var[0]

'H'

In [32]:
string_var[-5]

'H'

In [34]:
string_var[0] = 'Y'

TypeError: 'str' object does not support item assignment

In [25]:
print(string_var)

ABCDEFGH

In [50]:
print(string_var[2])

C

In [51]:
string_var[2]='t'

TypeError: 'str' object does not support item assignment

In [53]:
string_var='ABtDEFGH'
string_var

'ABtDEFGH'

In [54]:
type(string_var)

str

In [ ]:
x = 3.5
print(float(int(x)))

In [56]:
x=3.5
int(x)
float(int(x))

3.0

In [36]:
Satyajit = 5

In [39]:
name = 'Saurav'
print(name)

Saurav