In [1]:
a='Rob'
b='John'
c="Mike"

In [2]:
print(a)
print(b)
print(c)

Rob
John
Mike

In [3]:
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [4]:
len(a)

3

In [5]:
str1 = "hello world"

In [11]:
str1[0:3]

'hel'

In [10]:
str1[-1]

'd'

In [12]:
str1[0:5]

'hello'

In [13]:
str1[-3:]

'rld'

In [19]:
str1

'hello world'

In [20]:
str1[0:2]

'he'

In [22]:
str1[-8:]

'lo world'

In [23]:
new_str = str1[0:2] + 'x' + str1[-8:]

In [24]:
new_str

'hexlo world'

In [42]:
a[2]

'b'

In [ ]:
a[-1]

In [48]:
string_var = "hello world"
len_string_var = len(string_var)
string_var[len_string_var-1]

'd'

#### Immutability

In [5]:
a='Rob'
a[1]

'o'

In [6]:
a='Rob'
a[1]='a'

TypeError: 'str' object does not support item assignment

In [52]:
a='Rtb'

In [53]:
print(a)

Rtb

#### Concat

In [18]:
first_name = "ram"
last_name = "verma"
print(first_name + last_name)
print(first_name + " "+last_name)

ramverma
ram verma

#### Slicing
##### string[start:end:step]

In [25]:
string = "hello world"

In [26]:
string[2:5]

'llo'

In [27]:
string[-9:-6]

'llo'

In [28]:
string[6:11]

'world'

In [29]:
string[-5:]

'world'

In [101]:
string = "hello world"
string[1::2]

'el ol'

In [91]:
string = 'Hello World'

In [95]:
string[0:6]

'Hello '

In [97]:
string = 'Hello World'
slice_string = string[0:6]
print(slice_string)

Hello

In [99]:
class_students = "9 girls 3 boys are in the class"
girls = class_students[:8]
print(girls)

9 girls

In [35]:
String = 'Raj! Did you attend the class today?'

In [36]:
print(String)

Raj! Did you attend the class today?

In [38]:
'raj' in String

False

In [63]:
print('Raj' in String)

True

In [64]:
print('John' in String)

False

In [39]:
String = 'abcd'
print(String*4)

abcdabcdabcdabcd

#### String methods

In [40]:
# upper()
text = 'i have a cat'
print(text)

i have a cat

In [41]:
print(text.upper())

I HAVE A CAT

In [42]:
# lower()
text = 'I HaVe a CaT'
print(text.lower())

i have a cat

In [ ]:
strip --> removes whitespaces


@@@###45678@@@

45678

In [43]:
# rstrip()
text = 'i have a cat                          '
print(text)
print(text.rstrip())
new_text = text.rstrip()

i have a cat
i have a cat

In [44]:
len(text)

38

In [45]:
len(new_text)

12

In [46]:
# lstrip()
text = '               i have a cat'
print(text)
print(text.lstrip())

new_text_lstrip = text.lstrip()

               i have a cat
i have a cat

In [76]:
# strip()
text = '               i have a cat              '
print(text)
print(text.strip())

               i have a cat
i have a cat

In [48]:
# strip()
text = '***************4567890###############'
print(text)
new_text = text.rstrip('#').lstrip('*')
print(new_text)

***************4567890###############
4567890

In [78]:
print(new_text)

4567890

In [51]:
# count()
text = 'this is a sample sentence in this example'
print(text.count('i'))

4

In [52]:
print(text.count('i', 5))

3

In [84]:
A = 'Data'
B = 'Analysis'

In [85]:
C

'Python'

In [87]:
A = 'Data'
B = 'Analysis'
C = 'Python'

print('Let us learn ' + '{0} {1} using {2}'.format(A,B,C))

Let us learn Data Analysis using Python

### Practice Question

#### Description

In a certain encrypted message which has information about the location(area, city), the characters are jumbled such that first character of the first word is followed by the first character of the second word, then it is followed by second character of the first word and so on

In other words, let’s say the location is bandra,mumbai

The encrypted message says ‘bmaunmdbraai’.

##### Sample Input:
bmaunmdbraai
##### Sample Output:
bandra,mumbai

Assume, both words are equal in length

In [55]:
input_var = 'bmaunmdbraai'
message1 = input_var[0::2]
message2 = input_var[1::2]

print(message1)
print(message2)
print(message1 + ',' + message2)

bandra
mumbai
bandra,mumbai

In [30]:
string = "hello world"

In [34]:
string[1:6:3]

'eo'